<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper接口类对应的位置-->
<mapper namespace="com.epoint.bbs.model.mapper.UserMapper">
    <insert id="addUser" parameterType="com.epoint.bbs.model.entity.User">
        INSERT INTO user (
			username,
			email,
			sex,
			password,
			phone,
			status,
			introduction,
			blog,
			img,
			fans,
			concern,
			kiss
		) VALUES (
        	#{userName},
			#{email},
			#{sex},
			#{password},
			#{phone},
			#{status},
			#{introduction},
			#{blog},
			#{img},
			#{fans},
			#{concern},
			#{kiss}
		)
    </insert>
    <!-- 根据用户名称获取用户信息 -->
    <select id="getUserByName"
            resultType="com.epoint.bbs.model.entity.User">
        SELECT * FROM user WHERE username=#{username}
    </select>

	<select id="getAuthor" resultType="com.epoint.bbs.model.entity.User">
     SELECT username,img FROM user WHERE userid IN (SELECT artuserid FROM article WHERE artid=#{artid})
	</select>

	<!-- 根据用户名更新用户信息 -->
	<update id="updateUser">
		UPDATE user SET
		<if test="email!= null">
			email=#{email},
		</if>
		<if test="introduction!= null">
			introduction=#{introduction},
		</if>
		<if test="phone!= null">
			phone=#{phone},
		</if>
		<if test="sex!= null">
			sex=#{sex},
		</if>
		<if test="img!= null">
			img=#{img},
		</if>
		<if test="password!= null">
			password=#{password},
		</if>
		<if test="kiss!= null">
            kiss=#{kiss}
		</if>
		username=#{userName}
		WHERE
		username=#{userName}
	</update>
   <update id="addKiss">
      UPDATE user SET
	   kiss=kiss+5
	   where username=#{username}
   </update>
	<update id="signTime">
     UPDATE  user SET
     signtime=#{signtime}
     WHERE username=#{username}
	</update>
	<update id="lessKiss">
		UPDATE  user SET
		kiss=kiss-#{kiss}
		WHERE username=#{username}
	</update>
</mapper>